body {
    background-image: radial-gradient(circle at 50% -25.71%, #ff6a5a, #f39a89, #ff4e4e);
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
* {
    font-family: 'lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}

form {
    width: 550px;
    border: 2px solid black;
    padding: 6rem;
    background-color: #ff4e4e;
    border: none;
    border-radius: 20px;
    color : #fff;
}
h1{
    display: block;
    border: 2px solid black;
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

label{
    color: aliceblue;
    font-size: 18px;
    padding: 10px;
    font-weight: 300px;
}

input {
    display: block;
    border: 2px solid black;
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

button {
    float: right;
    background-color: beige;
    padding: .5rem;
    color: black;
    border: none;
    width: 40%;
    border-radius: 5px;
    margin-right:10px;
}

button:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);   
}

a{
    float: left;
    margin-left: 10px;
    padding: 5rem;
    text-decoration: none;
}
a:hover {
    color: #ffffff;
}

.error{
background-color: black;
color: white;
padding: 10px;
width: 95%;
border-radius: 5px;
margin: 20px auto;
}