* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background:linear-gradient(150deg, #ff6a5a, #f39a89) ;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form {
    background-color: #ff4e4e;
   display: flex;
    flex-direction: column;
    padding: 50px;
    width: 420px;
    box-shadow: 0 20px 15px #00000033;
    text-align: center;
}

form h2 {
    font-size: 30px;
    color: #EDF0F0;
    margin-bottom: 30px;
    
}

input {
    padding: 10px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid #ff7a7a;
    margin-bottom: 20px;
    outline: none;
    color: #000000;
    font-size: 16px;
}

::placeholder {
    color: #3d3e6f;
}

.btn {
    background-color: #fa6a82;
    border: 2px solid #fa6a82;
    cursor: pointer;
}

.btn:hover {
    background-color: hsl(0, 93%, 58%);
    border: 2px solid hsl(0, 93%, 58%);
}

@media (max-width: 991px) {
    body{
        padding: 30px;
    }

    form {
        width: 340px;;
    }
}